h1, h2, h3 {
    margin: 0.5rem 0; 
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#5A0625;
    font-size: 30px;
}

h3 {
    font-family:'Optima', sans-serif;
    color:#5A0625;
    font-size: 20px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.row.center {
    align-items: center;
}

.width-1 {
    flex: 1;
}

.width-2 {
    flex: 2;
}

.block {
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.block-header {
    padding: 1rem;
    padding-left: 30rem;
    padding-right: 30rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.welcome {
    color: white;
}

.row.center {
    align-items: center;
}

.customize_button {
    background-color: #f5bf1a;
    border: 3px solid #fdfdfd; 
    color: white; 
    padding: 7px 25px; 
    cursor: pointer; 
    float: center; 
  }
  
.customize_button:not(:last-child) {
border-right: none;
}

.customize_button:hover {
background-color: #d49f00;
}

.customize_button {
    font-weight : bold ;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px #5A0625; 
  }

.Customer {
    text-align: center;
}

.Customer-header {
    background-color: #5A0625;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.list-items {
    align-items: center;
    justify-content: center;
}

input, select {
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 8px 8px;
    width: 75%;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.input-class, .submit-class {
    display: table-cell;
    padding: 1rem;
}

.input-class {
    /* background-color: #d49f00; */
    width: 70%;
    vertical-align: top;
    text-align: right;
}

.submit-class {
    /* background-color: #f5bf1a; */
    width: 30%;
    vertical-align: middle;
    text-align: left;
}

.save-address-button {
    background-color: #f5bf1a;
    border: 1px solid #5A0625; 
    color: white; 
    padding: 7px 25px; 
    cursor: pointer; 
    float: center; 
  }
  
.save-address-button:not(:last-child) {
border-right: none;
}

.save-address-button:hover {
background-color: #d49f00;
}

.save-address-button {
    font-weight : bold ;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px #5A0625; 
  }

.delivery_heading {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
    font-size: 30px;
}

.add-menu-item {
    display: table;
    width: 100%;
    height: 100%;
}

.left-half, .right-half {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 50%;
    padding: 1rem;
}


