body {
    background-color: #5A0625;
}

.ManagerWindow {
    display: table;
    width: 100%;
    height: 100%;
}

.left-half, .right-half {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    width: 50%;
    padding: 1rem;
}

.report-btn-group button {
    /* background-color: #EEA73C;
    border: 10px solid #5A0625; 
    color: black; 
    padding: 10px 30px; 
    cursor: pointer; 
    float: left; 
    border-radius: 16px;
    text-shadow: none; */
    background-color: #f5bf1a;
    border: 20px solid #5A0625; 
    color: white; 
    padding: 10px 30px; 
    cursor: pointer; 
    float: center; 
}

/* Clear floats (clearfix hack) */
/* .report-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.report-btn-group button:hover {
    background-color: #d49f00;
} */

.report-btn-group button:not(:last-child) {
    border-right: none;
}
    
.report-btn-group button:hover {
    background-color: #d49f00;
}

.report-btn-group button {
    font-weight : bold ;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px #5A0625; 
    }

h1 {
    color: white;
}

.textcolorwhite {
    color: white;
}

h2 {
    color: white;
    margin-bottom: 0;
    text-align: center;
}

input, select {
    margin-top: 9px;
    margin-bottom: 9px;
    padding: 8px 8px;
    width: 75%;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.add-menu-item, .edit-price, .restock-ingredient, .add-ingredient {
    display: table;
    width: 100%;
    height: 100%;
}

.input-class, .submit-class {
    display: table-cell;
    padding: 1rem;
}

.input-class {
    /* background-color: #d49f00; */
    width: 70%;
    vertical-align: top;
    text-align: right;
}

.submit-class {
    /* background-color: #f5bf1a; */
    width: 30%;
    vertical-align: middle;
    text-align: left;
}

.submit-btn {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #EEA73C;
    border: 0;
    color: black; 
    cursor: pointer; 
    font-size: 20px;
}

.submit-btn button:hover {
    background-color: #d49f00;
}

/* testing background coverage */
/* .left-half {
    background-color: white;
    
}

.right-half {
    background-color: black;
} */
